server:
    workers: 2
    bind: 127.0.0.1:8001
    accesslog: '{0}/logs/accesslog.log'
    errorlog: '{0}/logs/errorlog.log'
    loglevel: 'debug'
    model_apis: ["another_api.models", ]
    resource_apis: ["another_api.resources", ]
database:
    uri: 'sqlite:///{0}/db/app.db'
    migrate_repo: '{0}/db_repository'
