#!/bin/bash

readonly START_TIMEOUT=30
readonly STOP_TIMEOUT=30

readonly GLOBAL_HOST=127.0.0.1

PG_HOST=$GLOBAL_HOST
PG_PORT=5432

BACKEND_HOST=$GLOBAL_HOST
BACKEND_PORT=8200

API_PROXY_HOST=$GLOBAL_HOST
API_PROXY_PORT=8100
API_URL=http://$BACKEND_HOST:$BACKEND_PORT/api

EDGE_HOST=$GLOBAL_HOST
EDGE_PORT=8080
MARKETPLACE_PORT=3000

DEFAULT_PASS=tester
NODE_ENV=production
