#!/bin/bash

readonly START_TIMEOUT=30
readonly STOP_TIMEOUT=30

# Host that must be accessible to the end-user
readonly EXTERNAL_HOST=${EXTERNAL_HOST:-127.0.0.1}
# Host that must be internal to deployment for IPC
readonly INTERNAL_HOST=${INTERNAL_HOST:-127.0.0.1}

#
# PostgreSQL
#
PG_HOST="$INTERNAL_HOST"
PG_PORT=5432

#
# Backend Server
#
BACKEND_HOST="$INTERNAL_HOST"
BACKEND_PORT=8200

#
# Frontend Common
#
NODE_ENV=production

#
# Frontend API Proxy Server
#
API_PROXY_HOST="$EXTERNAL_HOST"
API_PROXY_PORT=8100
MARKETPLACE_PORT=8110
# URL connecting API Proxy with BE
BACKEND_URL="http://$BACKEND_HOST:$BACKEND_PORT/api"
DEFAULT_PASS=tester

#
# Frontend Web Server
#
EDGE_HOST="$EXTERNAL_HOST"
EDGE_PORT=8080
# URL connecting Web FE with API Proxy
API_PROXY_URL="http://$API_PROXY_HOST:$API_PROXY_PORT"
AGILITY_X_URL="http://$API_PROXY_HOST:$MARKETPLACE_PORT"
