# General stack dependencies and build tools

#https://github.com/pybuilder/pybuilder/tarball/master
pybuilder==0.11.0

mock
unittest-xml-reporting
coverage
flake8
sphinx

PyYAML
gunicorn
flask-sqlalchemy
flask-restful
Flask-Restless
sqlalchemy-migrate
requests
voluptuous

nodeenv
